* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 100%;
    letter-spacing: 0;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}



