* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*h1, h2, h3, h4{*/
/*    all: unset;*/
/*}*/



button {

    border: none;

    background: none;

    cursor: pointer;

}



img {
    max-width: 100%;
    height: auto;
}

/*h1, h2, h3, h4{*/
/*    all: unset;*/
/*}*/
/*h1, h2, h3, h4 {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    !*font: inherit;*!*/
/*    display: block;*/
/*}*/


